.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  color: #f5f4f4;
  line-height: 1.7;
  padding: 1rem;
  opacity: 100%;
  margin: 0 auto;
  max-width: 900px;
}

.content {
  flex: 1;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

h2 {
  font-size: 1.1rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

p {
  margin: 0.6rem 0;
}

a {
  color: #0073e6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.footer {
  background-color: #b3f3f317;
  padding: 1.5rem;
  border-top: 1px solid #ddd;
  font-size: 0.95rem;
}

.footer h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.footer p {
  margin: 0.4rem 0;
}

@media (max-width: 768px) {
  .logoSection {
    margin-left: 0px;
  }
}
@media (max-width: 480px) {
  .logoSection {
    margin-left: 0px;
  }
}
