.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding: 1rem;
  color: white;
}

.title {
  font-size: 3rem;
  color: rgb(255, 174, 0);
  font-weight: 700;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}

.subtitle {
  font-size: 1.35rem;
  max-width: 600px;
  margin-bottom: 3rem;
  opacity: 0.8;
}

.startedBtn {
  display: grid;
  place-content: center;
  height: 50px;
  width: 180px;
  font-weight: 530;
  font-size: 18px;
  cursor: pointer;
  color: #161616;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 22px;

  background-color: #46def3;
  border: none;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.startedBtn:hover {
  background-color: #1eff00;
  transform: translateY(-2px);
}

@keyframes moveGradient {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
