.resendText {
  margin-top: 8px;
  font-size: 14px;
  color: #353434;
  text-align: center;
}

.timer {
  font-weight: bold;
  color: #f360e4a5;
  margin-left: 12px;
}

.timeoff {
  font-weight: bold;
  color: #4562f2c9;
  margin-left: 12px;
  cursor: pointer;
}
